.user-profile__name {
    margin: 0 0 16px;
    font-weight: 500;
    font-size: 42px;
    line-height: 48px;
    color: #fff;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

@media all and (max-width: 709px) {
    .user-profile__name {
        font-size: 27px;
        line-height: 33px;
        margin: 0 0 14px 28px;
    }
}