.user-profile__occupation {
    margin: 0;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #fff;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

@media all and (max-width: 709px) {
    .user-profile__occupation {
        font-size: 14px;
        line-height: 17px;
        margin: 0 auto 36px;
    }
}