.popup__container {
    position: relative;
    max-width: 430px;
    width: 100%;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
}

@media all and (max-width: 709px) {
    .popup__container {
        max-width: 282px;
    }
}